<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roubao.modules.user.mapper.UserMapper">
    <select id="isSuperAdmin" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT 1
        FROM user u
                 JOIN user_role ur ON u.id = ur.user_id
                 JOIN role r ON ur.role_id = r.id
        WHERE r.name = 'SuperAdmin'
          AND u.id = #{userId}
          AND u.status = 1
          AND r.status = 1 LIMIT 1
    </select>

    <select id="listUserPermission" resultType="com.roubao.domain.PermissionPO" parameterType="java.lang.Integer">
        SELECT p.id, p.auth_key, p.name, p.type, p.status, p.create_time, p.update_time
        FROM user u
                 JOIN user_role ur ON u.id = ur.user_id AND u.status = 1
                 JOIN role r ON ur.role_id = r.id AND r.status = 1
                 JOIN role_permission rp ON r.id = rp.role_id
                 JOIN permission p ON rp.permission_id = p.id AND p.status = 1
        WHERE u.id = #{userId}
    </select>

    <select id="listUserRole" resultType="com.roubao.domain.RolePO" parameterType="java.lang.Integer">
        SELECT r.id, r.name, r.status, r.create_time, r.update_time
        FROM user u
                 JOIN user_role ur ON u.id = ur.user_id
                 JOIN role r ON r.id = ur.role_id
        WHERE u.status = 1
          AND r.status = 1
    </select>
</mapper>