<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roubao.modules.user.mapper.UserMapper">
    <select id="queryUserAuthority" resultType="com.roubao.domain.AuthorityPO" parameterType="java.lang.Integer">
        SELECT a.id, a.auth_key, a.name, a.type, a.status
        FROM user u
                 JOIN user_role ur ON ur.user_id = u.id
                 JOIN role_authority ra ON ra.role_id = ur.role_id
                 JOIN authority a ON a.id = ra.authority_id
        WHERE u.id = #{userId}
        UNION ALL
        SELECT a.id, a.auth_key, a.name, a.type, a.status
        FROM user u
                 JOIN user_menu um ON um.user_id = u.id
                 JOIN menu_authority ma ON ma.menu_id = um.menu_id
                 JOIN authority a ON a.id = ma.authority_id
        WHERE u.id = #{userId}
    </select>
</mapper>